@font-face {
    font-family: MuseoSans;
    src: url(../fonts/MuseoSans300.otf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: MuseoSans;
    src: url(../fonts/MuseoSans500.otf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: MuseoSans;
    src: url(../fonts/MuseoSans700.otf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: MuseoSans;
    src: url(../fonts/MuseoSans900.otf);
    font-weight: 900;
    font-style: normal;
}

.league-gothic {
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

$font-family-sans-serif: MuseoSans, sans-serif;

